---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content'
import Layout from '../../layouts/Layout.astro';
import { ViewTransitions } from 'astro:transitions';

type Props = CollectionEntry<'blog'>;

const post = Astro.props

console.log(post.id)

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}



const {Content} = await post.render()

---

<Layout title={post.data.title}>
	<h1 transition:name={`article-title-${post.id}`} transition bg-black text-white>{post.data.title}</h1>
  <Content></Content> 
  <ViewTransitions /> 
</Layout>