/* @font-face {
  font-family: SourceHanSerifHK;
  src: url('/fonts/SourceHanSerifHK-Bold.ttf') format('truetype');
  src: url(https://gstatic.loli.net/s/notoseriftc/v23/XLY9IZb5bJNDGYxLBibeHZ0BvssrbXxGSMoPW2CYaL4xcgZt2hLi5AU2hsKUwIdeS7qKC8bpy_5IYlDy.6.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@700&display=swap');
.font-chinese {
  font-family: 'Noto Serif HK', serif;
}