---
import Layout from "../layouts/Layout.astro"
---

<Layout title="肆零肆">
  <main m-auto h-full flex justify-center items-center naux-text-color>
    <p font-chinese>
      本来无一物，何处惹尘埃!
    </p>
  </main>
</Layout>