---
import Layout from '../layouts/Layout.astro';
import { ViewTransitions } from 'astro:transitions';
import Logo from '../components/Logo.astro';

// console.log(articles[0].getHeadings());
// <div set:html={article.compiledContent()}></div>
import { getCollection } from 'astro:content';

const posts = await getCollection('blog')
---

<Layout title="Blog">

  <div flex-1 transition:name="logo" h-12 my-8 overflow-hidden text-2rem lh-14>
    <Logo></Logo>
  </div>
  <main font-chinese>
    {
      posts.map((post, index) => (
        <div>
          <h3 transition:name={`article-title-${post.id}`} text-xl transition>
            <a naux-link href={`/article/${post.slug}`} >{post.data.title}</a>
          </h3>
        </div>
      ))
    }
    <!-- <div h-20 w-20 flex bg-black rounded-full transition:name="test" transition absolute top-0>
      <a href="/" flex h-full w-full></a>
    </div> -->
  </main>
  <ViewTransitions />
</Layout>

<style>
  
</style>
