---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import MainContainer from '../layouts/MainContainer.astro';

const posts = await getCollection('blog')
---

<Layout title="Blog">
  <MainContainer>
    {
      posts.filter(p => !p.data.invisible).map((post, index) => (
        <div>
          <h3 transition:name={`article-title-${post.id}`} text-xl transition>
            <a naux-link href={`/article/${post.slug}`} >{post.data.title}</a>
          </h3>
        </div>
      ))
    }
  </MainContainer>
</Layout>
