---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h2 bg-red-200 >Unocss is working if this h2 background-color is red</h2>	
	</main>
</Layout>