---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hello, it's me.">
  <main lg="w-1024px m-auto p-0" w-full p-4>
    <div>
      <div font-serif flex flex-col font-bold text-8 lh-none mb-8>
        <span>汤遒之</span>
        <span>Naux Tang</span>
        <span>' Stuff</span>
      </div>

      <div font-serif flex flex-col font-bold text-6 lh-none>
        <span>1996年生人,</span>
        <span>昌黎公所曰天下之穷处人士。</span>
        <span>2014年求学于广东医科大学，现就职于羊城。</span>
      </div>

      <div>
        empty your minds,
        be formless,shapeless,like water.
        now you put water into a cup,it becomes the cup.
        you put it into a bottle,it becomes the bottle.
        you put it in a teapot,it becomes the teapot.
        water can flow,or it can crash.
        Be water ,my friend.
      </div>

      <div>
        疏杂念，
        身如水之虚，体似水之流。
        入杯，即杯；
        至瓶，成瓶；
        进壶，为壶。
        亦舒亦急，可湍可缓。
        可谓人水合一也。
      </div>
    </div>
  </main>
</Layout>
