---
import { ViewTransitions } from 'astro:transitions';
import Layout from '../layouts/Layout.astro';
// import Water from '../components/Water.astro';
import WaterTest from '../components/WaterTest.astro';
import Logo from '../components/Logo.astro';
---

<Layout title="Hello, it's Nauxscript.">
  <main flex items-center w-full h-full text-gray-700 dark:text-stone-300>
    <div lh-none font-bold w-full flex flex-col >
      <div md="my-20" <md="mx-4" flex-1 transition:name="logo" text-3.25rem lh-12>
        <Logo></Logo>
      </div>
      <div flex flex-col flex-1 text-6 mb-8 <md="mx-12 justify-center" class="font-chinese">
        <span>玖陸年生人，</span>
        <span>昌黎先生所言“天下之窮處”人是也。</span>
        <span>貳零壹肆年求學廣東醫科大學，現事於羊城。</span>
      </div>

      <div font-chinese text-5 <md="px-2">
        <a naux-link href="./blog">杂文</a>
        、
        <a naux-link href="./project">项目</a>
        、
        <a naux-link href="https://github.com/Nauxscript">代码</a>
      </div>
      <!-- <div h-20 w-20 flex bg-black transition:name="test" transition>
        <a href="/blog" flex h-full w-full></a>
      </div> -->
      <!-- <WaterTest /> -->
      <!-- <Water /> -->
    </div>
  </main>
  <ViewTransitions />
</Layout>
