---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hello, it's me.">
  <main lg="w-1024px m-auto p-0" w-full p-4>
    <h2>你好，我是 Naux。</h2>
    <h2>Helle, it's Me, Naux.</h2>
    <h3>1996年生人，昌黎公所曰天下之穷处人士。</h3>
    <h3>2014年求学于广东医科大学，现就职于羊城。</h3>
  </main>
</Layout>
