---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hello, it's me.">
  <main lg="w-1024px m-auto p-0" w-full p-4>
    <div font-serif lh-none font-bold>
      <div flex flex-col text-8 mb-8 lh-tighter>
        <span>汤遒之</span>
        <span>Naux Tang</span>
        <span>' Stuff</span>
      </div>

      <div flex flex-col text-6 mb-8>
        <span>1996年生人,</span>
        <span>昌黎公所曰天下之穷处人士。</span>
        <span>2014年求学于广东医科大学，现就职于羊城。</span>
      </div>

      <div text-6>
        <p>empty your minds,</p>
        <p>疏杂念，</p>
        <p>be formless,shapeless,like water.</p>
        <p>身如水之虚，体似水之流。</p>
        <p>now you put water into a cup,it becomes the cup.</p>
        <p>入杯，即杯；</p>
        <p>you put it into a bottle,it becomes the bottle.</p>
        <p>至瓶，成瓶；</p>
        <p>you put it in a teapot,it becomes the teapot.</p>
        <p>进壶，为壶。</p>
        <p>water can flow,or it can crash.</p>
        <p>亦舒亦急，可湍可缓。</p>
        <p>Be water ,my friend.</p>
        <p>可谓人水合一也。</p>
      </div>

      <!-- <div text-6>
        <p>empty your minds,</p>
        <p>be formless,shapeless,like water.</p>
        <p>now you put water into a cup,it becomes the cup.</p>
        <p>you put it into a bottle,it becomes the bottle.</p>
        <p>you put it in a teapot,it becomes the teapot.</p>
        <p>water can flow,or it can crash.</p>
        <p>Be water ,my friend.</p>
      </div>  -->

      <!-- <div text-6>
        <p>疏杂念，</p>
        <p>身如水之虚，体似水之流。</p>
        <p>入杯，即杯；</p>
        <p>至瓶，成瓶；</p>
        <p>进壶，为壶。</p>
        <p>亦舒亦急，可湍可缓。</p>
        <p>可谓人水合一也。</p>
      </div> -->
    </div>
  </main>
</Layout>
