---
import { ViewTransitions } from 'astro:transitions';
import Layout from '../layouts/Layout.astro';
import MainTitle from '../components/MainTitle.astro';
// import Water from '../components/Water.astro';
import WaterTest from '../components/WaterTest.astro';
---

<style is:inline>
  @font-face {
    font-family: SourceHanSerif;
    src: url('/fonts/SourceHanSerifTC-Bold.ttf');
    font-weight: normal;
    font-style: normal;
  }
  .font-chinese {
    font-family: SourceHanSerif !important;
  }
</style>

<Layout title="Hello, it's me.">
  <main flex-1 w-full text-gray-700 dark:text-stone-300>
    <div lh-none font-bold>
      <MainTitle />
      <div flex flex-col text-6 mb-8 class="font-chinese">
        <span>玖陸年生人，</span>
        <span>昌黎先生所言“天下之窮處”人是也。</span>
        <span>貳零壹肆年求學廣東醫科大學，現事於羊城。</span>
        <a href=""></a>
      </div>
      <div h-20 w-20 flex bg-black transition:name="test" transition>
        <a href="/blog" flex h-full w-full></a>
      </div>
      <!-- <WaterTest /> -->
      <!-- <Water /> -->
    </div>
  </main>
  <ViewTransitions />
</Layout>
