---
import Layout from '../layouts/Layout.astro';
import MainTitle from '../components/MainTitle.astro';
// import Water from '../components/Water.astro';
import WaterTest from '../components/WaterTest.astro';
---

<!-- <style>
  .water span:nth-child(odd) {
    display: none;
  }

  .water:hover span:nth-child(even) {
    display: none;
  }

  .water:hover span:nth-child(odd) {
    display: block;
  }
</style> -->

{
  import.meta.env.MODE === 'production' && (<style is:inline>
    @font-face {
      font-family: SourceHanSerif;
      src: url('./fonts/SourceHanSerifTC-Bold-min.ttf');
      font-weight: normal;
      font-style: normal;
    }
    .font-chinese {
      font-family: SourceHanSerif !important;
    }
  </style>)
}

<Layout title="Hello, it's me.">
  <main flex-1 w-full text-gray-700 dark:text-stone-300>
    <div lh-none font-bold>
      <MainTitle />
      <div flex flex-col text-6 mb-8 class="font-chinese">
        <span>玖陸年生人，</span>
        <span>昌黎公所曰天下之窮處人也。</span>
        <span>貳零壹肆年求學廣東醫科大學，現事於羊城。</span>
        <a href=""></a>
      </div>
      <WaterTest />
      <!-- <Water /> -->
    </div>
  </main>
</Layout>
