---
import Layout from '../layouts/Layout.astro';
---

<style>
  .water span:nth-child(odd) {
    display: none;
  }

  .water:hover span:nth-child(even) {
    display: none;
  }

  .water:hover span:nth-child(odd) {
    display: block;
  }
</style>

<Layout title="Hello, it's me.">
  <main lg="w-1024px m-auto p-0" w-full p-4 text-gray-700>
    <div font-serif lh-none font-bold>
      <div flex flex-col text-12 m-y-8 lh-tighter>
        <svg>
          <defs>
            <linearGradient id="grad" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" style="stop-color:#374151; stop-opacity:1"></stop>
              <stop offset="55%" style="stop-color:#374151; stop-opacity:1"></stop>
              <stop offset="100%" style="stop-color:#fff; stop-opacity:0"></stop>
            </linearGradient>
          </defs>
          <text x="0" y="48" fill="url(#grad)">汤遒之</text>
          <text x="0" y="80" fill="url(#grad)">Naux Tang</text>
          <text x="0" y="112" fill="url(#grad)">' Stuff</text>
        </svg>
      </div>

      <div flex flex-col text-6 mb-8>
        <span>1996年生人,</span>
        <span>昌黎公所曰天下之穷处人士。</span>
        <span>2014年求学于广东医科大学，现就职于羊城。</span>
      </div>

      <div class="group" h-42 text-6 m-y-16>
        <div absolute flex flex-col transition-all invisible opacity-0 class="group-hover:opacity-100 group-hover:visible">
          <span>Empty your minds,</span>
          <span>be formless,shapeless,like water.</span>
          <span>now you put water into a cup,it becomes the cup;</span>
          <span>you put it into a bottle,it becomes the bottle;</span>
          <span>you put it in a teapot,it becomes the teapot.</span>
          <span>Water can flow,or it can crash.</span>
          <span>Be water,my friend.</span>
        </div>
        <div absolute flex flex-col transition-all visible opacity-100 class="group-hover:opacity-0 group-hover:invisible">
          <span>疏杂念，</span>
          <span>身如水之虚，体似水之流。</span>
          <span>入杯，即杯；</span>
          <span>至瓶，成瓶；</span>
          <span>进壶，为壶。</span>
          <span>亦舒亦急，可湍可缓。</span>
          <span>可谓人水合一也。</span>
        </div>
      </div>
    </div>
  </main>
</Layout>
