---
import Layout from '../layouts/Layout.astro';
import MainTitle from '../components/MainTitle.astro';
import Water from '../components/water.astro';
---

<style>
  .water span:nth-child(odd) {
    display: none;
  }

  .water:hover span:nth-child(even) {
    display: none;
  }

  .water:hover span:nth-child(odd) {
    display: block;
  }
</style>

<style is:inline>
  @font-face {
    font-family: LingDongQiCheChunTang;
    src: url('./fonts/LingDongQiCheChunTang.ttf');
    font-weight: normal;
    font-style: normal;
  }
  .font-chinese {
    /* font: normal normal normal 14px/1 LingDongQiCheChunTang; */
    font-family: LingDongQiCheChunTang;
  }
</style>

<Layout title="Hello, it's me.">
  <main lg="w-1024px m-auto p-0" w-full p-4 text-gray-700 dark:text-stone-300>
    <div lh-none font-bold>
      <MainTitle />
      <div flex flex-col text-6 mb-8 class="font-chinese">
        <span>玖陆年生人，</span>
        <span>昌黎公所曰天下之窮處人也。</span>
        <span>贰零壹肆年求學廣東醫科大學，現事於羊城。</span>
      </div>
      <Water />
    </div>
  </main>
</Layout>
