---
import Layout from '../layouts/Layout.astro';
import { ViewTransitions } from 'astro:transitions';
---

<Layout title="Nauxscript">

  <main font-chinese h-full flex flex-col justify-center naux-text-color>
    <h2 transition:name="logo">湯遒之</h2>
    <p>遒之，求知!</p>
    <p>遒：常解为雄健有力，亦有坚固之意，也作同迫也；</p>
    <p>而我生性急躁，常常横冲直撞；成年之后虽有所稳重，特殊时候，原形毕露;</p>
    <p>幼年至今，师长友人偶有称赞我聪明伶俐，往往也跟一句“缺乏毅力，常半途而废”;</p>
    <p>所以，某日自取“遒之”以为字，作为勤勉，也谐音“求知”及“求之不得”。</p>
    <p>遒之求知，求之不得？路漫漫其修远兮，吾将上下而求索。</p>
    <ViewTransitions />
  </main>
</Layout>