<div flex-1 flex flex-col md="my-20" <md="mx-4 justify-center">
  <span font-chinese naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">湯遒之</span>
  <span naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">Naux Tang</span>
  <span naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">' Story</span>
</div>
