<div flex flex-col <md="justify-center" transition>
  <a z-3 href="/me" flex w-fit font-chinese whitespace-nowrap naux-logo naux-logo-link hover:z-20 md="logo-effect" <md="logo-effect-md" dark="logo-dark">湯遒之</a>
  <span z-2 naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">Naux Tang</span>
  <span z-1 naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">' Voyage</span>
</div>
