<div flex-1 flex flex-col md="my-20" <md="mx-4 justify-center">
  <a href="" flex w-fit naux-link font-chinese naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">湯遒之</a>
  <span naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">Naux Tang</span>
  <span naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">' Voyage</span>
</div>
