<div flex flex-col font-serif-naux md="my-20" <md="mx-12">
  <span font-chinese naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">湯遒之</span>
  <span font-chinese naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">Naux Tang</span>
  <span font-chinese naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">' Story</span>
</div>
