<div flex flex-col md="my-20" <md="mx-4 justify-center">
  <a href="" flex w-fit font-chinese naux-logo naux-logo-link hover:z-20 md="logo-effect" <md="logo-effect-md" dark="logo-dark">湯遒之</a>
  <span naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">Naux Tang</span>
  <span naux-logo md="logo-effect" <md="logo-effect-md" dark="logo-dark">' Voyage</span>
</div>
