---
import NavItem from "./NavItem.astro";
---

<div flex justify-end items-center w-1024px m-x-auto box-border h-20 -m-b-20>
  <div class="group" flex flex-col justify-start items-center w-8 h-8 mr-8 cursor-pointer overflow-hidden hover:overflow-visible>
    <div flex-shrink-0 w-8 h-8 rounded-inregular-1 bg-gray-300 transition-all class="group-hover:bg-black dark:group-hover:bg-neutral-100 group-hover:rounded-full group-hover:w-3 group-hover:m-3 group-hover:h-3"></div>
    <nav b-gray flex flex-col items-center w-12 -mt-1 trasition-all duration-100 class="group-hover:w-8">
      <NavItem href="/">不才</NavItem>
      <NavItem href="/blog">拙筆</NavItem>
      <NavItem href="/projects">營造</NavItem>
      <NavItem href="https://github.com/Nauxscript" target="_blank">極合</NavItem>
      <NavItem href="https://github.com/Nauxscript" target="_blank">名刺</NavItem>
    </nav>
  </div>
</div>
