---
// export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<a href={href} font-serif flex text-purple decoration-none items-center m-x-3 hover="text-blue" transition="500" class:list={[className, { 'text-red': isActive }]} {...props}>
	<slot />
</a>
