<div class="group" h-42 text-6 m-y-16>
  <div absolute flex flex-col transition-all invisible opacity-0 class="group-hover:opacity-100 group-hover:visible">
    <span>Empty your minds,</span>
    <span>be formless,shapeless,like water.</span>
    <span>now you put water into a cup,it becomes the cup;</span>
    <span>you put it into a bottle,it becomes the bottle;</span>
    <span>you put it in a teapot,it becomes the teapot.</span>
    <span>Water can flow,or it can crash.</span>
    <span>Be water,my friend.</span>
  </div>
  <div absolute flex flex-col transition-all visible opacity-100 class="group-hover:opacity-0 group-hover:invisible">
    <span>疏雜念</span>
    <span>身如水之虛，體似水之流。</span>
    <span>入杯，即杯；</span>
    <span>至瓶，成瓶；</span>
    <span>進壺，為壺。</span>
    <span>亦舒亦急，可湍可緩。</span>
    <span>可謂人水合一也。</span>
  </div>
</div>
