---
import "../styles/index.css";

const { frontmatter } = Astro.props as {
  frontmatter: {
    title: string
    createAt: string 
    updateAt: string 
    tags: string[],
    invisible: boolean 
  }
}
---
<html>
  <style is:inline>
    .post-content h1 {
      display: none;
    }
  </style>
  <main class="w-full max-w-full markdown markdown-stone dark:markdown-invert post-content h-[calc(100%-8rem)]" naux-main-font  overflow-y-auto naux-text-color>
    <slot /> <!-- Markdown content is injected here -->
  </main>
</html>