---
// import Article from '../components/Article.astro';
import OilLamp from "../components/OilLamp.astro";
import "../styles/index.css";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JC7XN2NJS1"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JC7XN2NJS1');
  </script>
  <style>
    @font-face {
      font-family: SourceHanSerif;
      src: url('/fonts/SourceHanSerifTC-Bold.ttf');
      font-weight: normal;
      font-style: normal;
    }
    .font-chinese {
      font-family: SourceHanSerif !important;
    }
  </style>
  <!-- Google tag (gtag.js) -->
  <body h-screen w-screen overflow-hidden m-0 p-0>
    <div class="layout-container" m-0 p-0 h-screen w-screen flex flex-col bg-stone-100 dark:bg-neutral-600>
      <div
        class="main-container"
        px-16
        flex="flex col 1"
        lg="w-1024px m-auto py-0 overflow-hidden"
        <md="m-4 mt-12 px-0 mobile-text overflow-hidden"
      >
        <slot />
      </div>
      <footer
        lg="w-1024px"
        <lg="w-screen"
        h-16
        px-14
        mb-10
        m-x-auto
        pos="relative">
        <OilLamp />
      </footer>
    </div>
  </body>
</html>

<style>

  html {
    filter: url(#threshold-bg)
  }
</style>