---
// import Article from '../components/Article.astro';
import Navbar from "../components/Navbar.astro";
import OilLamp from "../components/OilLamp.astro";
import "../styles/index.css";
import "../styles/font.css";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body h-screen w-screen overflow-hidden m-0 p-0>
    <!-- <Article></Article> -->
    <div
      class="layout-container"
      m-0
      p-0
      h-screen
      w-screen
      overflow-hidden
      flex
      flex-col
      bg-stone-100
      dark:bg-neutral-600
    >
      <!-- <Navbar /> -->
      <div class="main-container" flex="col" lg="w-1024px m-auto p-0">
        <slot />
      </div>
      <footer w-1024px h-16 mb-8 m-x-auto pos="relative">
        <OilLamp />
      </footer>
    </div>
    <!-- <svg id="filters-bg">
      <defs>
        <filter id="threshold-bg">
          <feColorMatrix
            in="SourceGraphic"
            type="matrix"
            values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 2 0"></feColorMatrix>
        </filter>
      </defs>
    </svg> -->
  </body>
</html>

<style>

  html {
    filter: url(#threshold-bg)
  }
</style>