---
import 'unocss-hmr-fix';
// import Article from '../components/Article.astro';
import Navbar from '../components/Navbar.astro';
import OilLamp from '../components/OilLamp.astro';
import '../styles/index.css';
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body m-0 p-0 h-screen w-screen overflow-hidden flex flex-col class="dark">
    <!-- <Article></Article> -->
    <Navbar />
    <slot flex-1 />
    <footer w-1024px h-16 mb-8 m-x-auto relative>
      <OilLamp />
    </footer>
  </body>
</html>
